.navegacion-principal {
    background-color: var(--color_principal);
    position: relative; 
    width: 100%;
    padding: 0.5rem 0; 
    height: 90px; 
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.navegacion-principal a{
    text-decoration: none; 
}

.nav {
    margin-bottom: 0; 
}

.nav-item {
    display: flex;
    align-items: center;
}

.logo {
    width: 75px; 
}

.boton1 {
    display: inline-block;
    background-color: var(--color_principal);
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    margin-left: 10px; 
}

.boton-menu
{
    margin-left: 10px; 
}

.boton2 {
    display: inline-block;
    background-color: white;
    border: 2px solid var(--color_principal); 
    padding: 8px 12px; 
    border-radius: 30px; 
    text-align: center;
    white-space: nowrap;
    color: var(--color_principal);
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border 0.3s; 
}

/* le pongo el color del boton 1 al boton 2 cuando el cursor este en el boton 2*/
a.boton2:hover {
    color: white;
}

.boton2:hover {
    background-color: var(--color_principal);
    border: 2px solid white; 
}

/* le pongo el color del boton 2 al boton 1 cuando el cursor este en el boton 1*/
a.boton1:hover {
    color: var(--color_principal);
}

.boton1:hover {
    background-color: white;
    border: 2px solid var(--color_principal);
}



@media (max-width: 576px) {
    .navegacion-principal {
        height: 90px;
    }
    .texto-icon
    {
        display: none;
    }
    .boton1
    {
        border: none;
    }
}

@media (max-width: 768px) {
    .navegacion-principal {
        height: 90px;
    }
    .boton1
    {
        flex-shrink: 1; 
        white-space: nowrap; 
        font-size: 1rem; 
        padding: 5px; 
    }
}
