/* d-slider.css */

.carousel {
    width: 100%;
    height: 350px;
    max-width: 800px;
    margin: 50px auto; 
}

.carousel-item {
    display: flex;
    justify-content: center; 
    height: 100%;
}

.receta-item {
    width: 800px; 
    height: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.5);
    margin: 0;
    position: relative; 
}

.card_landing {
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    color: #fff;
}

.card_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    transform: translateX(100%); 
    transition: transform 0.3s;
    z-index: 1;
}

.receta-item:hover .card_info {
    transform: translateX(0%);
}

.card_info .head {
    margin-bottom: 10px;
}

.card_info .head .title {
    font-size: 20px;
    font-weight: 700;
    color: #bc8811;
}

.card_info .head .description {
    display: flex;
    gap: 10px;
}

.card_info .head .description .item {
    display: flex;
    gap: 5px;
    align-items: center;
}

    .slider-wrapper .swiper-slide-button {
        display: none;/*lo saco ya que lo hacen deslizando con el dedo*/
    }

    .recetas .receta-item {
        width: 100%;
        padding: 20px;
    }

    .recetas .receta-item .receta-imagen {
        width: 200px; 
        height: 150px; 
        margin-bottom: 15px;
    }

    .recetas .receta-item  {
        font-size: 0.8rem; 
    }

    .recetas .receta-item .origen-receta {
        font-size: 0.7rem; 
    }

    .recetas .receta-item .pedir-receta {
        margin-left: 0; 
    }
}

/* color para el boton de sigueinte y atras */
div .swiper-slide-button.swiper-button-next,  .swiper-slide-button.swiper-button-prev{
    color: #26533c;
}

/* color de lo de abajo */
.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    background-color: #26533c !important;
}
/* ajustes de imagen, habian errores raros */
@media (max-width: 1306px) {
    .recetas .receta-item .receta-imagen {
        width: 250px; 
        height: 167px; 
    }
}


