/* Ajusta la altura del carrusel si es necesario */
.carouselPerfil {
    max-height: 60% !important;
    overflow: hidden !important;
    background-color: #ffffff !important; /* Color de fondo opcional para los bordes vacíos */
}

/* Ajuste de imagen para mostrarla completamente */
.custom-carousel-image {
    object-fit: contain !important;
    width: 60% !important;
    height: 52% !important;
    background-color: #ffffff !important; /* Color de fondo opcional para los bordes vacíos */
}

