.receta {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.etiquetas .badge {
    margin: 5px;
}

.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: lightgray; 
}

.star:hover {
    color: gold;
}

.comentarios {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



#barraLateral {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 200px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.pasos-receta {
    text-align: left;
    background-color: #f9f9f9; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.list-group-item {
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 4px; 
    margin-bottom: 10px;
    transition: background-color 0.3s; 
}

.list-group-item:hover {
    background-color: #e9ecef; 
}

#nombre-usuario {
    margin-left: 30px;
}

.perfil-usuario {
    align-items: center; 

}

#foto-usuario {
    width: 100px;
    height: 100px; 
    object-fit: scale-down; 
    border-radius: 50%; 
    margin-top: 10px; 
    margin-left: 10px; 
}

#portada-receta{
    width: 1500px;
    height: 375px;
}

.comentario {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.comentario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: gray;
    font-size: 0.9em;
}

.acciones-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    right: 0;
}

.acciones-menu button {
    width: 100%;
    text-align: left;
}



