.receta {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.etiquetas .badge {
    margin: 5px;
}

.acciones {
    display: flex;
    align-items: end;
    gap: 10px;
}

/* Estilos para estrellas mostradas en promedio de valoracion */
.star {
    width: 2rem;
    height: 2rem;
    background-color: #ababab;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.full {
    background-color: rgb(255, 165, 0);
}

.half {
    background: linear-gradient(to right, rgb(255, 165, 0) 50%, #ababab 50%);
}

/* Estrellas usadas para input de valoración */

.estrella {
    font-size: 2rem;
    color: #ababab;
}

.estrella.hover, .estrella.selected {
    color: rgb(255, 165, 0);
}

.valoracion{
    cursor: pointer;
}

.progress{
    background-color: lightgray !important;
}

.progress-bar{
    background-color: rgb(255, 165, 0) !important;
}

.comentarios {
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#barraLateral {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 200px;
    height: auto;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.pasos-receta {
    text-align: left;
    background-color: #f9f9f9; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.list-group-item {
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 4px; 
    margin-bottom: 10px;
    transition: background-color 0.3s; 
}

.list-group-item:hover {
    background-color: #e9ecef; 
}

#nombre-usuario {
    margin-left: 30px;
}

.perfil-usuario {
    align-items: center; 

}

#foto-usuario {
    width: 100px;
    height: 100px; 
    object-fit: scale-down; 
    border-radius: 50%; 
    margin-top: 10px; 
    margin-left: 10px; 
}

/* #portada-receta{
    width: 100px;
    height: 375px;
}
 */


.contenedor-detalles
{
    width: 100%;
    height: 100%;
/*     padding-left: 50px;
    padding-right: 50px; */
    margin: auto;
    border:#26533c solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.dificultad, .tiempo {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.rem; 
}

.icono-item
{
    margin-bottom: 10px;
}

.bandera
{
    margin-bottom: 0px;
}


.comentario {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.comentario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaComentarios{
    max-height: 25rem;
    overflow-y: auto;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: gray;
    font-size: 0.9em;
}

.acciones-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    right: 0;
}

.acciones-menu button {
    width: 100%;
    text-align: left;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    width: 100%;
    height: 50%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 350px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.redes i {
    font-size: 24px;
    margin: 10px;
}

