


/* a.css */

.cuerpo, .z {
    height: 100%; /* Establece la altura al 100% para el body y wrapper */
    margin: 0; /* Elimina márgenes predeterminados */
}

.wrapper {
    display: flex; /* Usar flexbox para organizar el contenido */
    flex-direction: column; /* Organizar los elementos en columna */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
}

.container {
    flex: 1; /* Permite que el contenedor principal crezca y ocupe el espacio disponible */
}

.busca-receta {
    max-width: 800px; /* Ajusta el ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    background-color: aqua; /* Color de fondo del formulario */
    padding: 20px; /* Espacio interno */
}

/* Estilos para los botones */
#toggleFiltro {
    background-color: #26533c !important;
    color: white;
    border-radius: 15px; /* Bordes redondeados para el input */
    font-weight: bold;
}

#toggleFiltro:hover { /* Corrige el ID a 'toggleFiltro' */
    background-color: #0f3b25 !important;
    color:  white;
}

/* Estilo para los botones adicionales */
.buscar-btn, .filtrar-btn {
    margin: 0 5px; /* Margen entre botones */
}

/* Estilo para el campo de entrada */
.form-control {
    border: 1px solid #26533c; /* Borde pequeño de color #26533c */
    border-radius: 15px; /* Bordes redondeados para el input */
}
