.box {
    border: 0px solid black;
    background-color: #ffffff;
    border-radius: 0px;
    text-align: center;
    padding: 5px;
    min-width: 50px;
    max-width: 200px;    
    margin: 0;

    font-size: 14px; /* Tamaño de la fuente */

}
.boxcantidad {
    border: 0px solid black;
    background-color: #ffffff;
    text-align: center;
    padding: 0px;
    margin-top: 0 !important;
    min-width: 50px;
    max-width: 200px;    
}
#IDNombreDeUsuarioEnPublicacion{
    font-size: 80%;
}
#IDNombreCompletoDeUsuarioEnPublicacion{
    font-size: 80%;
}


.FotoDePerfil{
    width:50px !important;
    height:50px!important;
    display: inline !important;
}

/*.BoxPublicacion{

    border: 1px solid #000000;
    border-radius: 6px;
    padding: 0px;
}*/

.DivEncabezadoPublicacion{
    
    padding: 4px;

}

.EstilosCategorias {
    font-size: 16px;
    display: inline-block;/**/
    background-color: #26533c;
    border: 1px solid 
    rgb(0, 0, 0); /* anade un borde blanco de 2px */
    padding: 8px 12px; /* padding interno */
    border-radius: 30px; /* bordes redondeados */
    text-align: center;
    white-space: nowrap;/**par amantener alineado con los demas elementos*/
    color: white;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* transicion suave para cambios */
}

.EstilosEstiquetas{
    font-size: 14px;
    display: inline-block;/**/
    background-color: #759f88;
    border: 1px solid 
    rgb(0, 0, 0); /* anade un borde blanco de 2px */
    padding: 8px 12px; /* padding interno */
    border-radius: 30px; /* bordes redondeados */
    text-align: center;
    white-space: nowrap;/**par amantener alineado con los demas elementos*/
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* transicion suave para cambios */

}

.EstilosIngredientes{
    font-size: 13px;
    display: inline-block;/**/
    background-color: #d6dcd9;
    border: 1px solid 
    rgb(0, 0, 0); /* anade un borde blanco de 2px */
    padding: 8px 12px; /* padding interno */
    border-radius: 30px; /* bordes redondeados */
    text-align: center;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* transicion suave para cambios */
}

.slide {
    margin-top: 5px !important;
    position: relative;
    
}

.slide img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
    border: black solid 1px;
}


