.cuerpo,
.contenido {
    /*para el body y el footer*/
    height: 100%;
    margin: 0;
}

.contenido {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* botones */
#toggleFiltro {
    background-color: #26533c !important;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}

#toggleFiltro:hover {
    background-color: #0f3b25 !important;
    color: white;
}

.buscar-btn,
.filtrar-btn {
    margin: 0 5px;
}

/* filtro chico */
.filtroTamanio {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 992px) {
    .filtroTamanio {
        flex: 0 0 25%;
        max-width: 25%;
    }

    #resultados {
        flex: 1;
    }
}

/* buscador */
.form-control {
    border: 1px solid #26533c;
    border-radius: 35px;
}

/* dificultad y tiempo sobre la imagen*/
.card-img-wrapper {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: white;
    padding: 1px 10px;
    justify-content: space-between;
    align-items: center;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

.dificultad,
.minutos {
    margin: 0;
}

@media (min-width: 1024px) {
    .busca-receta {
        padding: 30px;
    }

    h5.card-title,
    p.card-text {
        text-align: start;
        font-size: 1rem;
    }

    #toggleFiltro {
        font-size: 1em;
        padding: 10px 20px;
    }

    .buscar-btn,
    .filtrar-btn {
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .form-control {
        font-size: 1.1em;
        padding: 10px;
    }

    .card-body {
        padding: 3px;
    }

    .card-img-top {
        border-radius: 10px;
    }

    .card {
        border-color: white;
    }

}

/* filtro de la izquierda */
.filtros {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {

    #resultados .col-lg-4 {
        flex: 0 0 25%;
        max-width: 50%;
    }
}

@media (max-width: 991px) {
    #pantallaGrande {
        display: none;
    }

    a#pantallasChicas {
        display: block;
        text-decoration: none;
    }

    #resultados .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card-body {
        padding: 3px;
    }

    .card {
        border-color: white;
    }

    .card-img-top {
        border-radius: 10px;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 767.98px) {

    h5.card-title {
        font-size: .9rem;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 120%;
    }

    div.card-details {
        font-size: 1rem;
    }
}

/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.oculto {
    display: none;
}

@media (max-width: 1024px) {
    .modal-contenido {
        width: 100%;
        height: 100%;
        max-width: none;
        border-radius: 0;
    }
}